.portfolio {
  &__header {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
  }
}

.list {
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;

  &__name {
    & > span {
      margin-right: 10px;
    }
  }
  &__active {
    color: $primaryColor;
    font-weight: 600;
  }
}

.promotion {
  @extend .list;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #78787875;
  border-top: 1px solid #78787875;
  &__name {
    font-weight: 600;
  }
}

.liquidation {
  @extend .list;
  &__name {
    font-weight: 600;
  }
}

.tags {
  &__header {
    font-weight: 600;
  }
  &__container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__item {
    padding: 7px 14px;
    border: 1px solid #78787875;
  }
}
.bannerSales {
  width: 100%;
  margin-top: 45px;
  & > img {
    cursor: pointer;
    width: 100%;
    height: 390px;
  }
}

.filter {
  &__name {
    margin-top:15px;
    & > span {
      // font-size:53px;
      // font-weight:600;
      margin-right: 20px;
    }
  }
}

.select {
  float: right;
  width: 260px;


}

.sortIcon {
  & > img {
    margin-bottom: 5px;
  }
}
